<header class="app-header">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <a routerLink="/">{{ appTitle }}</a>
        </div>
        
        <nav class="main-nav">
          <ul>
            <li><a routerLink="/planner" routerLinkActive="active">Planner</a></li>
            <li><a routerLink="/todo" routerLinkActive="active">Todo</a></li>
            <li><a routerLink="/notes" routerLinkActive="active">Notes</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>